
.title{
  border: 2px solid rgb(77,120,187);
  width: fit-content;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.droupdowns{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
